@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

#register, #payment-method, #finished-page {
    position: relative;
    height: 100%;
    padding-top: 30px;
    .label-section {
        position: absolute;
        top: 3%;
        left: 10%;
        color: $white;
        font-family: $main-font;
        &.blue {
            color: $main-color;
        }
    }
    .text-container {
        width: 80%;
        @include breakpoint-3 {
            max-width: 500px;
        }
    }
}
#register, #finished-page {
    background-color: $main-color;
}