@import 'styles/mixins.scss';
@import 'styles/variables.scss';

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: none;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button:disabled {
    color: gray
}
button:hover,
button:focus {
    background: none;
}

.link-button {
    align-items: center;
    background-color: $green;
    border: none;
    display: flex;
    height: 55px;
    justify-content: center;
    min-width: 200px;
    max-width: max-content;
    .button {
        border: none;
        color: $white;
        font-family: $title-font;
        font-size: $button;
        font-weight: 700;
        letter-spacing: 1.4;
        max-width: 100%;
        text-transform: uppercase;
        text-decoration: none;
        & .PDF-downloader {
            position: absolute;
            bottom: 140px;
            right: 90px;
            @include breakpoint-3 {
                bottom: 170px;
            }
        }
    }
    &:hover {
        background-color: $blue;
        color: $green;
        transition: all ease-in 0.5s;
        text-decoration: none;
        & .button {
            color: $green;
        }
    }
}