@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.sign-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    .fieldset {
        width: 100%;
        .flag-dropdown {
            background-color: $main-color;
            color: $white;
            font-family: $title-font;
            .selected-flag:hover, .selected-flag:active, .selected-flag:focus {
                background-color: $main-color;
                color: $main-color;
            }
            .country {
                &:hover, &:active, &:focus, &:visited, &.highlight {
                    background-color: $main-color;
                    color: $main-color;
                }
            }
            .country-list {
                background-color: $info-color;
            }
            .country-name {
                color: $white;
                &:hover {
                    color: $main-color;
                }    
            }
        }
        .uk-input, .payment-modality {
            background-color: $main-color;
            color: $white;
            font-family: $title-font;
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            width: 100%;
        }
    }
}

#payment-modality {
    background-color: $main-color;
    font-family: $title-font;
    font-size: 15px;
    height: 40px;
    color: $ligth-gray;
    width: 100%;
    &:hover {
        background-color: $main-color;
        color:$white;
    }
}

span {
    color: $complementary-color;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    .fieldset {
        width: 100%;
        .flag-dropdown {
            .country-name {
                color: $main-color;
                // &:hover {
                //     color: $main-color;
                // } 
            }
        }
        .uk-input, .uk-select, .uk-textarea, .form-control {
            width: 100%;
            border: 1px solid #e5e5e5;
            border-radius: 5px;
        }
    }
}