@import "styles/variables.scss";
@import "styles/mixins.scss";

#for-who {
    height: auto;
    position: relative;
    .bg-color {
        background-color: $green;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        @include breakpoint-1 {
            height: 7%;
            top: 13%;
        }
        @include breakpoint-2 {
            height: 15%;
            top: 17%;
        }
    }
    #methodology {
        display: block;
        width: 100%;
        position: relative;
        @include breakpoint-1 {
            height: 440px;
        }
        @include breakpoint-2 {
            height: 500px
        }
        @include breakpoint-3 {
            height: 600px;
        }
        @include breakpoint-4 {
            height: 700px;
        }
        // @include breakpoint-5 {
    
        // }
        #banner-meth {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: inherit;
            max-width: 100%;
            z-index: -1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .message-container {
                max-width: 80%;
                max-height: 80%;
                .img-methodology {
                    // position: absolute;
                    // top: 15%;
                    // left: 25%;
                    margin: auto;
                    height: 400px;
                    width: 100%;
                    display: block;
                    z-index: 9999;
                    @include breakpoint-1 {
                        width: 60%;
                    }
                }
            }
        }
    }
}
