@import "styles/variables.scss";
@import "styles/mixins.scss";

.content-box {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    flex-direction: column;
    padding: 50px 30px;
    width: 100%;
    height: 100%;
    .title-section-center {
        display: block;
        text-transform: uppercase;
        font-size: $title-s;
        font-weight: 700;
        letter-spacing: 4px;
        line-height: 1.2;
        padding: 35px 0;
        @include breakpoint-4 {
            font-size: $title;
        }
        .title-line {
            background-color: $supplementary-color;
            display: block;
            height: 6px;
            margin: 10px auto;
            width: 70px;
        }
    }
    .img-container {
        display: flex; 
        width: 100%;
        max-height: 50%;
        img {
            width: 100%;
        }
        @include breakpoint-4 {
            padding: 0 15px;
            display: inline-block; 
            // padding: 30px 70px;
            width: 50%;
            margin: 0;
        }
        .img-section {
            // padding: 30px;
            margin: auto 0;
            max-width: 100%;
        }
    }
    .content-container {
        display: block; 
        height: auto;
        margin: auto;
        width: 100%;
        @include breakpoint-4 {
            padding: 50px;
            display: inline-block;
            width: 50%;
            margin: 0;
        }
        .title-section {
            color: $main-color;
            font-size: $title-s;
            font-weight: 700;
            letter-spacing: 4px;
            line-height: 1.2;
            padding-bottom: 5px;
            text-transform: uppercase;
            margin: 20px 0;
            @include breakpoint-4 {
                font-size: $title;
            }
            .title-line {
                background-color: $supplementary-color;
                display: block;
                height: 6px;
                margin-top: 10px;
                width: 70px;
            }
        }
        .body-section {
            font-family: $main-font;
            font-size: $s - 2;
            color: $main-color;
            padding: 15px 0;
        }
    }
    &.center {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &.normal {
        flex-direction: column;
        @include breakpoint-4 {
            flex-flow: row nowrap;
        }
    }
    &.rev {
        flex-direction: column-reverse;
        @include breakpoint-4 {
            flex-flow: row-reverse nowrap;
        }    
    }
    // &.light {
    //     background-color: transparent;
    //     .title-section, .title-section-center, .body-section {
    //         color: $main-color;
    //     }
    // }
    // &.dark {
    //     background-color: $main-color;
    //     .title-section, .title-section-center, .body-section {
    //         color: $white;
    //     }
    // }
}
.content-box{
    &.dark {
        background-color: $main-color;
        .title-section, .title-section-center {
            color: $white;
        }
        .body-section {
            color: $white;
        }
    }
}
.content-box {
    &.ligth {
        background-color: transparent;
        .title-section, .title-section-center {
            color: $main-color;
        }
        .body-section{
            color: $main-color;
        }
    }
}
.content-box {
    &.no-margin {
        padding: 0;
        margin: 0;
    }
}