@import "styles/variables.scss";
@import "styles/mixins.scss";

.slider {
    padding: 0 50px 50px 50px;
    width: min-content;
    .slider-container {
        .cards-container {
            width: 70vw;
            height: 570px;
            @include breakpoint-4 {
                width: 90vw;
                height: 730px;
            }
        }
    }
    .button-slider {
        color: gray;
    }
}