@import "styles/variables.scss";
@import "styles/mixins.scss";

.slider {
    width: min-content;
    .slider-container {
        margin: 0 90px;
        .cards-container {
            width: 85vw;
            height: max-content;
            @include breakpoint-4 {
                width: 90vw;
                height: 730px;
            }
            .card-item-module {
                display: flex;
                flex-flow: row wrap;
                height: 590px;
                width: min-content;
            }
        }
    }
    .button-slider {
        color: gray;
    }
}