@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.grid-container {
    display: block;
    width: 100%;
    padding: 30px;
    .grid-collaborators {
        align-items: center;
        display: flex;
        width: 100%;
        margin: auto;
        padding: 0;
        @include breakpoint-1 {
            flex-flow: row wrap;
            justify-content: center;
        }
        @include breakpoint-3 {
            justify-content: space-between;
        }
        .logo-collab-item {
            width: inherit;
            @include breakpoint-1 {
                display: contents;
            }
            .logo-collab {
                color: $white;
                @include breakpoint-1 {
                    margin: 0 15px;
                    max-width: 15%;
                }
                @include breakpoint-2 {
                    margin: 0 20px;
                }
                @include breakpoint-3 {
                    max-width: 8%;
                }
                // @include breakpoint-4 {
                //     margin: 0 40px;
                // }
            }
        }      
    }
}