@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

#hero {
    margin-top: 85px;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
    .img-hero {
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: inherit;
        @include breakpoint-1 {
            min-height: 555px;
            max-height: 100vh;
        }
        @include breakpoint-2 {
            min-height: 767px;

        }
        @include breakpoint-4 {
            // background-attachment: fixed;
            background-size: cover;
            height: 1066px;
        }
        .name-container {
            padding-top: 13px;
            width: 100%;
            text-align: center;
            @include breakpoint-4 {
                padding-top: 45px;
            }
            #text-hero {
                color: $white;
                font-family: $main-font;
                font-size: $s;    
                font-weight: 700;
                margin: auto;
                text-transform: uppercase;
                text-shadow: rgba(3, 3, 3, 0.719) 0 0 5px;
                @include breakpoint-3 {
                    font-size: $main;
                }
                @include breakpoint-4 {
                    font-size: ($main)-1;
                }
            }
        }
        .link-button {
            text-decoration: none;
        }
        
    }
}