// COLOR

$main-color: #002D59;
$supplementary-color: #1EC88F;
$complementary-color: #FF4B4B;
$info-color: #707070;
$ligth-gray: #B2B2B2;
$white: #FFFFFF;

//FONTS & SIZES

$main-font: 'Inter', sans-serif;
$title-font: 'Poppins', sans-serif;

$xxs: 9px;
$xs: 15px;
$s: 20px;
$main: 25px;
$title-s: 28px;
$title-m: 35px;
$title: 43px;
$title-l: 53px;
$xl: 105px;
$xxl: 163px;
$button: 19px;

//HEIGHTS & WIDTHS

$height-header: 85px;