@import "styles/variables.scss";
@import "styles/mixins.scss";

.main {
    position: relative;
    height: auto;
    margin-top: 85px;
    width: 100%;
    @include breakpoint-4 {
        // padding: 85px 50px 190px 50px;
        flex-direction: row;
    }
}