@import "styles/variables.scss";
@import "styles/mixins.scss";

.card-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin: 7px;
    padding: 0;
    height: max-content;
    @include breakpoint-3 {
        max-width: 290px;
        padding-top: 50px;
        position: relative;
    }
    // width: max-content;
    .recomended-container {
        width: 185px;
        display: block;
        overflow-x: auto;
        @include breakpoint-3 {
            position: absolute;
            top: -20px;
        }
    .recomended {
        color: $orange;
        font-family: $title-font;
        font-size: $r;
        font-weight: bolder;
        margin: 0 auto;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
        line-height: 1.1;
        margin: 7px;
    }  
}
.card-investment {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px 15px;
    height: 530px;
    box-shadow: 0 3px 3px $ligth-gray;
    .title-card{
        font-family: $title-font;
        font-size: $r + 1;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
    .info-price {
        font-family: $main-font;
        font-size: $main;
        line-height: 1.2;
        margin: 10px;
        .price {
            font-size: $title-l;
            font-weight: 700;
        }
        .per-plan {
            display: block;
            text-align: center;
            font-size: $xs;
            font-weight: bold;
        }
    }
    .main-info {
        color: $orange;
        font-family: $title-font;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
    }
    .description-investment {
        padding-bottom: 10px;
        margin: 0 auto;
        li {
            list-style: disc;
        }
    }
}
}