@import 'styles/mixins.scss';
@import 'styles/variables.scss';

#footer {
    align-items: center;
    background-color: $gray;
    display: flex;
    flex-direction: column;
    height: 530px;
    justify-content: center;
    @include breakpoint-3 {
        padding: 0 50px;
    }
    .logo-container-footer {
        margin: 30px;
    }
    .contact-info-footer {
        margin: 30px;
    }
}