@import "styles/variables.scss";
@import "styles/mixins.scss";

.card-item {
    display: flex;
    flex-flow: row wrap;
    width: min-content;
    .card-container {
        margin: 0;
        padding: 0;
        height: max-content;
        width: 221px;
        @include breakpoint-3 {
            width: 237px;
        }
        @include breakpoint-4 {
            width: 350px;
        }
        @include breakpoint-6 {
            height: 570px;
        }
        &:hover {
            box-shadow: 0 5px 5px $green;
            cursor: pointer;
        }
        .teacher-card {
            display: flex;
            position: relative;
            // flex-wrap: row wrap;       
            .card-img {
                width: 100%;
                height: 100%;
            }
            .info-module-spread-out {
                display: none;
                position: absolute; 
                &.hide { 
                    opacity: 0;
                    height: 0; 
                    transform: translateY(-50px);
                    transition: all ease-in 1s; 
                }
                &.shown {
                    top: 0%;
                    display: flex;
                    background-color: transparentize($blue, .1);
                    padding: 10px 5px;
                    opacity: 1;
                    bottom: 0%;
                    align-items: center;
                    justify-content: center;
                    transform: translateY(0px);
                    transition: all ease-in 1s; 
                }
                .title-spread-out {
                    color: $green;
                    font-family: $title-font;
                    font-size: $xs;
                    font-weight: bolder;
                    margin: 17px auto;
                }
                .text-spread-out {
                    color: $white;
                    font-family: $main-font;
                    font-size: $xs;
                    margin: auto;
                }
            }
        }
    }
}