@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.card-item-teacher {
    display: flex;
    flex-flow: row wrap;
    max-height: 100%;
    max-width: 300px;
    .card-container-teacher {
        padding: 0;
        height: min-content;
        &:hover {
            box-shadow: 0 5px 5px $supplementary-color;
            cursor: pointer;
        }
        .teacher-card {
            display: flex;
            position: relative;     
            .card-img {
                width: 100%;
                height: 100%;
            }
            .info-module-spread-out {
                position: absolute; 
                &.hide { 
                    display: none;
                    opacity: 0;
                    height: 0; 
                    transform: translateY(-50px);
                    transition: all ease-in 1s; 
                }
                &.shown {
                    top: 0%;
                    display: flex;
                    flex-direction: column;
                    background-color: transparentize($main-color, .1);
                    padding: 10px 5px;
                    opacity: 1;
                    bottom: 0%;
                    align-items: center;
                    justify-content: center;
                    transform: translateY(0px);
                    transition: all ease-in 1s; 
                }
                .title-spread-out {
                    color: $supplementary-color;
                    font-family: $title-font;
                    font-size: $s;
                    font-weight: bolder;
                    margin: 17px auto;
                }
                .text-spread-out {
                    color: $white;
                    font-family: $main-font;
                    font-size: 13px;
                    margin: auto;
                    padding: 25px;
                }
            }
        }
    }
}